[submodule "src/examples"]
	path = src/examples
	url = https://github.com/ros2/examples.git
	branch = humble
[submodule "src/demos"]
	path = src/demos
	url = https://github.com/ros2/demos.git
	branch = humble
[submodule "src/tutorial"]
	path = src/tutorial
	url = git@github.com:pawelir/ros2_tutorial.git
	branch = main
